@model VAgents.Info.ViewModel.PolicyViewModels
@{
    ViewBag.Title = "PolicyesDetail";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>PolicyesDetail</h2>

@Model.Name

@Model.Description


@Model.CreationTime

