<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/user/user/userlike">
                Likes
            </a>
        </li>
        <li class="list-group-item">
            <a href="/user/user/FileUpload">
                Images
            </a>
        </li>
    </ul>
</div>

<div class="jumbotron col-md-8">
    Here place video info for all in a websites 
</div>
