@model VAgents.Info.ViewModel.User.UserViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Search Product</h1>

@using (Html.BeginForm("index", "User", FormMethod.Get))
{
    <div class="row">

        <div class="form-horizontal">
            <div class="col-lg-3">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Product Name" })
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Price (max.)" })
            </div>
            <div class="col-lg-3">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span>
                </button>

                <a class="btn btn-success pull-right" data-modal="" href="/Products/Create" id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
}


