@model VAgents.Info.Areas.Administration.Models.PolicyViewModels

<div class="content-wrapper">
    <div class="row col-md-offset-1">
        
        <h1>@Model.Name</h1>
    
        <span>@Model.CreationTime</span>
    </div>
</div>
